* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: light-gray;
}

h1, h4, p {
	font-family: Verdana, Tahoma, Helvetica, Arial sans-serif;
}

h1 {
	text-align: center;
}

p {
	clear: both;
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	top: 60px;
}
.row {
	width: 100%;
	margin-right: -15px;
	margin-left: -15px;
}

.col-sm-12, .col-md-6, .col-lg-4 {
	min-height: 1px;
	padding: 15px;
	float: left;
}

.content {
	width: 90%;
	border: 2px solid blue;
	background-color: gray;
}

.pull-right {
  float: right !important;
}

.content section.pull-right {
	width: 8em;
	height: 3em;
	padding: 0.5em;
	border-left: 2px solid blue;
	border-bottom: 2px solid blue;
}

.content section.pull-right h4 {
	width: 100%;
	padding: 0.5em;
}
	

/********** Large devices **********/
@media (min-width: 992px) {

	.col-lg-4 {
		width: 33%;
	}

}


/********** Medium devices **********/
@media (min-width: 768px) and (max-width: 991px) {

	.col-md-6 {
		width: 50%;
	}

}

/********** Mobile devices **********/
@media (max-width: 767px) {
	.col-xs-12 {
		width: 100%;
	}
}

#chicken {
	background-color: pink;
}
#beef {
	background-color: orange;
}
#sushi {
	background-color: teal;
}

.row div:nth-of-type(1) {-webkit-flex-grow: 2;}