* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: light-gray;
}

h1, h4, p {
	font-family: Verdana, Tahoma, Helvetica, Arial sans-serif;
}

h1, h4 {
	text-align: center;
}

p {
	clear: both;
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	top: 30px;
}

.row {
	width: 100%;
}

.col-sm-12, .col-md-6, .col-lg-4 {
	min-height: 1px;
	padding: 15px;
	float: left;
}

.content {
	border: 2px solid #a0522d;
	background-color: #9f9f9f;
}

.pull-right {
	float: right !important;
}

.content p {
	margin: 1em;
    padding-top: 1em;
}

.content section.pull-right {
	width: 8em;
	height: 3em;
	padding: 0.5em;
	border-left: 2px solid #a0522d;
	border-bottom: 2px solid #a0522d;
}

.content section.pull-right h4 {
	width: 100%;
	padding: 0.5em;
}

/********** Large devices **********/
@media (min-width: 992px) {
	.col-lg-4 {
		width: 33%;
	}
}


/********** Medium devices **********/
@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6 {
		width: 50%;
	}
	.row div:nth-child(0n+3) {
		width:100%;
	}
}

/********** Mobile devices **********/
@media (max-width: 767px) {
	.col-xs-12 {
		width: 100%;
	}
}

#chicken {
	background-color: #fff5ee /* sea shell */;
	color: #3f3f3f;
}
#beef {
	background-color:  #87CEEB /* sky blue */;
	color: #3f3f3f;
}
#sushi {
	background-color: #00ff7f /* spring-green */;
	color: #3f3f3f;
}